// Specific CSS for your home-page

.banner-landing {
  display: grid;
  color: #1B2329;

}

.banner-landing img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -5;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

.banner-landing-text {
  position: absolute;
  top: 40%;
  left: 33%;
  text-align: center;
}

.banner-landing-text h1 {
  font-size: 64px;
}

.banner-landing-text p {
  font-size: 28px;
}

button {
  font-size: 28px;
}
