<div class="container mt-3">
  <h1>All flats</h1>


    <% @flats.each do |flat| %>
      <%= link_to flat_path(flat) do %>
      <hr>
        <div class="card-flat">
          <img src="" />
          <div class="card-flat-infos">
            <p><%= flat.address %></p>
            <h2><%= flat.name %> </h2>
          </div>
        </div>
      <% end %>
    <% end %>

</div>

