<div class="container mt-3">

  <ul class="list-inline tabs-underlined">
  <li>
    <a href="#" id="tab-flat" class="tab-underlined active">My flats </a>
  </li>
  <li>
    <a href="#" id="tab-booking" class="tab-underlined">My bookings</a>
  </li>
</ul>

  <div class="flats active">
    <%= render 'shared/flat_card' %>

  </div>

  <div class="bookings">
    <% @bookings.each do |booking| %>
      <li>
        <%= booking.flat.name %>
        <%= booking.start_date %>
        <%= booking.end_date %>
      </li>
    <% end %>

  </div>

</div>



