<div class="container mt-3">

  <ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">My flats</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">My bookings</a>
  </li>
</ul>
  <h1>My flats</h1>

  <%= render 'shared/flat_card' %>

  <h1>My bookings</h1>

  <% @bookings.each do |booking| %>
    <li>
      <%= booking.flat.name %>
      <%= booking.start_date %>
      <%= booking.end_date %>
    </li>
  <% end %>

</div>



