<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner-landing">
  <img id="banner" alt="" src=<%= @random_image %> >

  <div class="banner-landing-text">
    <h1>Live anywhere</h1>
    <p>Rent awesome flats</p>
    <%= link_to 'Get started', flats_path, class: 'btn btn-pink'  %>
  </div>
</div>
