<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner-landing">
  <img src=<%= @random_image %> alt="">

  <div class="banner-landing-text">
    <h1>Live anywhere</h1>
    <p>Rent awesome flats</p>
    <button class="btn btn-pink">Get started</button>
  </div>
</div>
