<div class="banner-landing">
  <img src="https://images.unsplash.com/photo-1559139061-28d9de44e40e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80" alt="">

  <div class="banner-landing-text">
    <h1>Live anywhere</h1>
    <p>Rent awesome flats</p>
    <button class="btn btn-success">Get started</button>
  </div>
</div>
