.btn-pink {
  background-color: #E51E54;
  color: white;
  padding: 7px 16px;
  border-radius: 8px;
  opacity: 0.9;
  transition: ease 300ms;
}

.btn-pink:hover {
  opacity: 1;
  color: white;
}

.btn-pink-light {
  border: 1px solid #E51E54;
  color: #E51E54;
  padding: 8px 16px;
  border-radius: 8px;
  opacity: 0.9;
  transition: ease 300ms;
}

.btn-pink-light:hover {
  opacity: 1;
  color: #E51E54;
}
