.navbar-home {
  position: absolute;
  width: 100%;
  box-shadow: none;
  color: white;
}

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo {
  font-size: 20px;
  font-weight: medium;
  color: #E51E54;
}
